
	<% if @employee_trainings.present? %>

		<% @employee_trainings.less_than_thirty.each do |e| %>
			<div class="bs-callout bs-callout-danger">
			  <h4><%=e.training.course_name %></h4>
			  	<strong>Expires:</strong><span> <%=e.expiration_date.strftime("%m/%d/%Y") %></span><br/>
				<strong>Obtained?:</strong><span> <%e.obtained? %></span>  <br/>
				<%= link_to "edit", edit_employee_training_path(e)%> /
				<%= link_to 'Destroy',  employee_training_path(e), data: { confirm: 'Are you sure?' }, method: :delete %>
			</div>
		<%end%>


		<% @employee_trainings.between_thirty_and_ninty.each do |e| %>
			<div class="bs-callout bs-callout-warning">
			  <h4><%=e.training.course_name %></h4>
			  	<strong>Expires:</strong><span> <%=e.expiration_date.strftime("%m/%d/%Y") %></span><br/>
				<strong>Obtained?:</strong><span> <%e.obtained? %></span>  <br/>
				<%= link_to "edit", edit_employee_training_path(e)%> /
				<%= link_to 'Destroy',  employee_training_path(e), data: { confirm: 'Are you sure?' }, method: :delete %>


				
			</div>
		<%end%>

		<% @employee_trainings.greater_than_ninty.each do |e| %>
			<div class="bs-callout bs-callout-success">
			  <h4><%=e.training.course_name %></h4>
			  	<strong>Expires:</strong><span> <%=e.expiration_date.strftime("%m/%d/%Y") %></span><br/>
				<strong>Obtained?:</strong><span> <%e.obtained? %></span>  <br/>
				<%= link_to "edit", edit_employee_training_path(e)%> /
				<%= link_to 'Destroy',  employee_training_path(e), data: { confirm: 'Are you sure?' }, method: :delete %>

			</div>
	<%end%>
	<% else %>
		<br/><td colspan="3">This employee Does not have any training requirments?</td></tr>
	<% end %>