<%= render partial: 'shared/errors', locals: {object: f.object} %>
<div class="form-group">
	<%= f.label :site %>
	<%= f.collection_select :site_id, Site.all, :id, :name, {include_blank: 'Select a Company', selected: (params[:site_id].blank? ? (f.object.site_id.present? ? f.object.site.id : '') : params[:site_id])}, {class: "form-control"} %>
</div>


<div class="form-group">
	<%= f.label :first_name %>
	<%= f.text_field :first_name, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :last_name %>
	<%= f.text_field :last_name, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :employee_ID %>
	<%= f.text_field :employee_ID, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :phone_number %>
	<%= f.text_field :phone_number, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :email_address %>
	<%= f.text_field :email_address, class: "form-control" %>
</div>

<div class="checkbox">
	<label><%= f.check_box :salaried? %>salaried?</label>
</div>

<div class="checkbox">
	<label><%= f.check_box :employed? %>Still Employed?</label>
</div>

<div class="checkbox">
	<label><%= f.check_box :manager? %>Manager?</label>
</div>

<div class="form-group">
	<%= f.label :date_hired %>
	<%= f.text_field :date_hired, class: "form-control", id: "date_hired" %>
</div>

<div class="form-group">
	<%= f.label :date_fired %>
	<%= f.text_field :date_fired, class: "form-control", id: "date_fired" %>
</div>

<br/>
