<%= content_for :sidebar do %>

  <li>
    <%= link_to edit_site_employee_path(site_employee: @siteemp) do %>
        <i class="fa fa-user-circle-o fa-2x"></i>
          <span class="nav-text">Edit Employee</span>
    <% end %>
  </li>

    <li>
      <%= link_to new_employee_license_path(site_employee: @siteemp) do %>
          <i class="fa fa-id-card-o"></i>
            <span class="nav-text">Add Employee License</span>
      <% end %>
    </li>

    <li>
      <%= link_to new_employee_license_path(site_employee: @siteemp) do %>
          <i class="fa fa-book"></i>
            <span class="nav-text">Add Employee Learning</span>
      <% end %>
    </li>
<% end %>


<div class="bs-callout bs-callout-success">
  <h4><%=@siteemp.to_s %></h4>
  	<strong>Works For:</strong><span> <%=@siteemp.site.name%></span><br/>
	<strong>Date Hired:</strong><span> <%=@siteemp.date_hired%></span>  
</div>


  <%= render partial: 'site_employees/employee_show_table', locals: {employee: @siteemp} %>


<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#emplisc" aria-controls="emplisc" role="tab" data-toggle="tab">Employee Licenses</a></li>
    <li role="presentation"><a href="#learning" aria-controls="learning" role="tab" data-toggle="tab">Employee Learning</a></li>
  </ul>
<!-- Nav Content -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="emplisc">
        <%= render partial: 'site_employees/employee_license_table', locals: {employee: @employee_licenses} %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="learning">
        <hr/>
        <h5>Learning Goes Here</h5>
    </div>
      <hr/>
  </div>