  <div class="field">
    <h4>Submitted By: <%=@current_user.username %></h4>
    <%= f.hidden_field :submitted_by, value: @current_user.username %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description , class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :url_impacted %><br>
    <%= f.text_field :url , class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, ['Open', 'Resolved', 'In Development', 'No longer Needed' ], class: "form-control" %>
  </div>

  <hr/>