<%= render partial: 'shared/errors', locals: {object: f.object} %>

  <div class="form-group">
    <%= f.label :site_employee_id %><br>
    <%= f.collection_select :site_employee_id, SiteEmployee.all, :id, :to_s, {include_blank: 'Select an Employee', selected: (params[:site_employee].blank? ? (f.object.site_employee_id.present? ? f.object.site_employee.id : '') : params[:site_employee])}%>
  </div>
  <div class="form-group">
    <%= f.label :license_id %><br>
    <%= f.collection_select :license_id, License.all, :id, :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :expiration_date %><br>
    <%= f.text_field :expiration_date, :id => "emp_lic_expire" %>
  </div>
  <div class="form-group">
    <%= f.label :obtained? %> 
    <%= f.check_box :obtained? %>
  </div>

</div>