<h1>Listing employee_licenses</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>License</th>
      <th>Expiration date</th>
      <th>Obtained?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_licenses.each do |employee_license| %>
      <tr>
        <td><%= employee_license.employee %></td>
        <td><%= employee_license.license %></td>
        <td><%= employee_license.expiration_date %></td>
        <td><%= employee_license.obtained? %></td>
        <td><%= link_to 'Show', employee_license %></td>
        <td><%= link_to 'Edit', edit_employee_license_path(employee_license) %></td>
        <td><%= link_to 'Destroy', employee_license, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee license', new_employee_license_path %>
