<div class="panel panel-danger">
  <div class="panel-heading"><strong>Employee Training Items Expiring in Less Than 30 Days</strong></div>
	<table class="table">
		<thead>
			<th class="text-center">Employee Name</th>
			<th class="text-center">License Name</th>
			<th class="text-center">Expiration Date</th>
			<th class="text-center">Obtained?</th>
			</tr>
		</thead>
		<tbody>
			<% if @small_employee_trainings.present? %>
				<% @small_employee_trainings.each do |e| %>
					<tr>
					<td class="text-center"><%= e.site_employee.to_s %></td>
					<td class="text-center"><%= e.training.course_name %></td>
					<td class="text-center"><%= e.expiration_date.strftime("%m/%d/%Y") %><td>
					<td class="text-center"><%= e.obtained? %><td>
					</tr>
					<%end%>
			<% else %>
				<tr><td colspan="3">There are currently no Employee Training Items due in the next 30 days.</td></tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="panel panel-warning">
  <div class="panel-heading"><strong>Employee Training Items Expiring in 30-90 Days</strong></div>
	<table class="table">
		<thead>
			<th class="text-center">Employee Name</th>
			<th class="text-center">License Name</th>
			<th class="text-center">Expiration Date</th>
			<th class="text-center">Obtained?</th>
			</tr>
		</thead>
		<tbody>
			<% if @medium_employee_trainings.present? %>
				<% @medium_employee_trainings.each do |e| %>
					<tr>
					<td class="text-center"><%= e.site_employee.to_s %></td>
					<td class="text-center"><%= e.training.course_name %></td>
					<td class="text-center"><%= e.expiration_date.strftime("%m/%d/%Y") %><td class="text-center">
					<td class="text-center"><%= e.obtained? %><td>
					</tr>
					<%end%>
			<% else %>
				<tr><td colspan="3">There are currently no Employee Training Items due in the next 30 days.</td></tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="panel panel-success">
  <div class="panel-heading"><strong>Employee Training Items Expiring in 30-90 Days</strong></div>
	<table class="table">
		<thead>
			<th class="text-center">Employee Name</th>
			<th class="text-center">License Name</th>
			<th class="text-center">Expiration Date</th>
			<th class="text-center">Obtained?</th>
			</tr>
		</thead>
		<tbody>
			<% if @large_employee_trainings.present? %>
				<% @large_employee_trainings.each do |e| %>
					<tr>
					<td class="text-center"><%= e.site_employee.to_s %></td>
					<td class="text-center"><%= e.training.course_name %></td>
					<td class="text-center"><%= e.expiration_date.strftime("%m/%d/%Y") %><td>
					<td class="text-center"><%= e.obtained? %><td>
					</tr>
					<%end%>
			<% else %>
				<tr><td colspan="3">There are currently no Employee Training Items due in the next 30 days.</td></tr>
			<% end %>
		</tbody>
	</table>
</div>