<!-- Sidebar links -->

<%= content_for :sidebar do %>
    <li>
		<%= link_to new_site_path do %>
	  		<i class="fa fa-plus-circle fa-2x"></i>
		    	<span class="nav-text">
		            Create New Site
		    	</span>
		<% end %>
	</li>
<% end %>

<hr/>

<!-- Searching -->
<%= form_tag sites_path, :method => 'get', id: "site_search", class: "form-inline" do %>
	<div class= "form-group">
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
	  <p>
	    <%= text_field_tag :search, params[:search], class: "form-control" %>
	    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
	  </p>
	</div>
<% end %>

<%= render 'sites' %>