<%= render partial: 'shared/errors', locals: {object: f.object} %>

<div class="form-group">
	<%= f.label :site %>
	<%= f.collection_select :site_id, Site.all, :id, :name, {include_blank: 'Select a Company', selected: (params[:site_id].blank? ? (f.object.site_id.present? ? f.object.event.id : '') : params[:site_id])}, {class: "form-control"} %>
</div>



<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :description %>
	<%= f.text_field :description, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :expiration_date %>
	<%= f.date_field :expiration_date, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :manager %>
	<%= f.text_field :manager, class: "form-control" %>
</div>