<%= render partial: 'shared/errors', locals: {object: f.object} %>

<div class="form-group">
	<%= f.label :site %>
	<%= f.select :site_id, options_for_select(Site.all.map{|e|[e.name, e.id]}), {}, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :description %>
	<%= f.text_field :description, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :expiration_date %>
	<%= f.date_field :expiration_date, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :manager %>
	<%= f.text_field :manager, class: "form-control" %>
</div>