<table class="table">
	<thead>
		<tr>
			<th><%= sortable "Name" %></th>
			<th><%= sortable "description"%></th>
			<th><%= sortable "expiration_date", "Expires On" %></th>
			<th><%= sortable "submitted?" %></th>
			<th>Site</th>
		</tr>
	</thead>
	<tbody>
		<% if permits.present? %>
			<% permits.each do |d| %>
				<tr>
					<td><%= link_to d.name, edit_site_permit_path(d) %></td>
					<td><%= d.description %></td>
					<td><%= d.expiration_date %></td>
					<td><%= d.submitted? ? '✓' : '-' %></td>
					<td><%= link_to d.site.name, site_path(d.site_id) %></td>
				</tr>
			<% end %>
		<% else %>
			<tr><td colspan="3">No permits to show.</td></tr>
		<% end %>
	</tbody>
</table>

