<%= content_for :sidebar do %>
    
    <li>
		<%= link_to new_site_permit_path do %>
	  		<i class="fa fa-plus-circle fa-2x"></i>
		    	<span class="nav-text">
		            Create New Permit
		    	</span>
		<% end %>
	</li>
<% end %>

<a href="#" id="showsitepermits">Search Permits</a>

<hr/>

<!-- Searching -->
<%= form_tag site_permits_path, :method => 'get', id: "sitepermit_search", class: "form-inline" do %>
	<div class= "form-group">
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
	  <p>
	    <%= text_field_tag :search, params[:search], class: "form-control" %>
	    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
	  </p>
	</div>
<% end %>

<%= render partial: 'site_permits/permit_aged_table', locals: {permits: @site_permits} %>


